---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero1 from '~/assets/images/banner/hero1.jpg';
import Feature1 from '~/assets/images/banner/feature1.jpg';
import Feature2 from '~/assets/images/banner/feature2.jpg';
import Feature3 from '~/assets/images/banner/feature3.jpg';
import Feature4 from '~/assets/images/banner/feature4.jpg';

const metadata = {
  title: 'Drive Your Business Further',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Drive your business further"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: Hero1,
      alt: 'Chauffeur POS App',
    }}
  >
    <Fragment slot="title">
      Revolutionize <br />Your<span class="text-accent dark:text-white highlight"> Point of Sale</span> Experience<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Our all-in-one POS solution provides seamless integration across platforms to enhance your business efficiency.
        From <span class="font-bold">sales to HR management</span>, we have it all covered.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What We Offer?"
    subtitle="Discover Our Key Benefits"
    columns={2}
    items={[
      {
        title: 'On-Premise Installation',
        description: 'Complete control of your POS system on your own servers.',
        icon: 'tabler:server-bolt',
      },
      {
        title: 'Platform Compatibility',
        description: `Available on web, desktop, and mobile platforms for ultimate flexibility.`,
        icon: 'tabler:devices',
      },
      {
        title: 'HRIS Functionality',
        description: 'Manage employee data, payroll, and attendance with ease.',
        icon: 'tabler:sitemap',
      },
      {
        title: 'Multi-Shop Management',
        description: `Control multiple shops from one centralized system.`,
        icon: 'tabler:shopping-bag',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Our Features"
    subtitle="Explore how Chauffeur POS can transform your operations across various industries and use cases."
    isReversed
    items={[
      {
        title: 'Why On-Premise?',
        description: `Total Control Over Your Environment Manage and monitor your data infrastructure within your premises, allowing for customization, enhanced security protocols, and faster troubleshooting without reliance on external services.`,
      },
      {
        title: 'Why It Matters?',
        description: `Data Privacy and Ownership Your business data is private and accessible only to you. With no external interference, you can guarantee compliance with data protection standards and ensure the integrity of your operations.`,
      },
    ]}
    image={{
      src: Feature1,
      alt: 'On Premise Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        On-Premise Installation: <br /><span class="text-2xl">Take Full Control of Your Data</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Why flexible subscription?',
        description: `Because every business has different rhythms. Whether you're scaling fast or just starting out, our pricing adapts to your pace—no long-term contracts, no pressure.`,
      },
      {
        title: 'Why It Matters?:',
        description: `You stay in control. Pay only when you need it, pause when you don't. It’s freedom that fits your workflow, not the other way around.`,
      },
    ]}
    image={{
      src: Feature2,
      alt: 'Flexible Subscription Fee',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Flexible Subscription Fee: <br /><span class="text-2xl">Cancel anytime. No strings attached.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Why HRIS Functionality?',
        description: `Streamline HR Tasks Reduce administrative burdens and allow managers to focus on strategic operations.`,
      },
      {
        title: 'Why It Matters?',
        description: `Empowered Workforce Management Keep employees satisfied with accurate and timely payroll while maintaining compliance with labor regulations.`,
      },
    ]}
    image={{
      src: Feature3,
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        HRIS Functionality: <br /><span class="text-2xl">Simplified Employee Management</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Why Multi-Device Installation?',
        description: `Adaptable to Your Business Needs Whether in the office or on the go, access the POS system from any device to keep your business running smoothly.`,
      },
      {
        title: 'Why It Matters?',
        description: `Enhanced Mobility and Productivity Empower your team with the flexibility to work from anywhere, ensuring uninterrupted operations.`,
      },
    ]}
    image={{
      src: Feature4,
      alt: 'Multiple Device',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Multi-Device Installation: <br /><span class="text-2xl">Flexibility Across Devices</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Monthly subscribe and cancel anytime"
    prices={[
      {
        title: 'free',
        subtitle: 'Basic POS feature',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Download it now',
          href: '#',
        },
      },
      {
        title: 'premium',
        subtitle: 'Advanced POS feature',
        price: 350000,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Try Premium 30 days for free',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'How does the payment work?',
        description:
          'You can pay with a monthly subscription. If the subscription expires, the system will revert to the basic plan until a new payment is made. Users can also extend their subscription before expiration to maintain access to all features.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How do I cancel my subscription?',
        description: `If you don’t renew your subscription, it will automatically end without additional charges.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I try the product before paying?',
        description:
          'Yes, our Free Plan offers basic functionality for you to explore and evaluate the product. Additionally, new users receive a 30-day free premium trial after downloading the app to experience all features',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How many devices can I use with one license?',
        description: `One license allows installation on multiple devices, making it perfect for scaling your operations.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: 'mailto://hello@chauffeurpos.app',
    }}
    items={[
      {
        title: 'Email us',
        description: 'hello@chauffeurpos.app',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us (Whatsapp)',
        description: '+62 896-1108-1675',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@chauffeurposapp',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with Chauffeur's blog"
    information={`Tips and trick, updates and other information`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Babyhappy.id',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `This POS system transformed the way we operate. The multi-shop management and E-shop features are game changers!`,
        name: 'Josh Wilkinson',
        job: 'Hanna&Co.',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'The multi-device installation is a lifesaver. Our team can seamlessly work across web, desktop, and mobile platforms.',
        name: 'Sidney Hansen',
        job: 'Butiquest.co',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  /> -->
</Layout>
