---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerDataId, footerDataId } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Hero1 from '~/assets/images/banner/hero1.jpg';
import Feature1 from '~/assets/images/banner/feature1.jpg';
import Feature2 from '~/assets/images/banner/feature2.jpg';
import Feature3 from '~/assets/images/banner/feature3.jpg';
import Feature4 from '~/assets/images/banner/feature4.jpg';
import Footer from '~/components/widgets/Footer.astro';

const metadata = {
  title: 'Drive Your Business Further',
};

const i18n = {
  language: 'id',
  textDirection: 'ltr',
};
---

<Layout metadata={metadata} i18n={i18n}>
  <Fragment slot="header">
    <Header {...headerDataId} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Bawa bisnismu melaju lebih jauh"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Mulai Jelajahi', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Pelajari Lebih Lanjut', href: '#features' },
    ]}
    image={{
      src: Hero1,
      alt: 'Chauffeur POS App',
    }}
  >
    <Fragment slot="title">
      Revolusi <br /> dalam Pengalaman <span class="text-accent dark:text-white highlight">Point of Sale</span>-mu
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Solusi POS all-in-one kami menghadirkan integrasi lintas platform yang mulus untuk meningkatkan efisiensi
        bisnismu. Mulai dari <span class="font-bold">penjualan hingga manajemen SDM</span>, semua sudah kami siapkan.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Apa Saja yang Kami Tawarkan?"
    subtitle="Temukan Keunggulan Utama Kami"
    columns={2}
    items={[
      {
        title: 'Instalasi On-Premise',
        description: 'Kendalikan sistem POS sepenuhnya di server milik Anda sendiri.',
        icon: 'tabler:server-bolt',
      },
      {
        title: 'Kompatibel di Berbagai Platform',
        description: `Tersedia di web, desktop, dan mobile untuk fleksibilitas maksimal.`,
        icon: 'tabler:devices',
      },
      {
        title: 'Fitur HRIS',
        description: 'Kelola data karyawan, penggajian, dan absensi dengan mudah.',
        icon: 'tabler:sitemap',
      },
      {
        title: 'Manajemen Multi-Toko',
        description: `Pantau dan kelola banyak cabang dari satu sistem terpusat.`,
        icon: 'tabler:shopping-bag',
      },
      //   {
      //     title: 'E-Shop Integration',
      //     description: ` Offer self-checkout with delivery or pickup options.`,
      //     icon: 'tabler:world-www',
      //   },
      //   {
      //     title: 'Multi-Device Installation',
      //     description: `Install the software on multiple devices with just one license.`,
      //     icon: 'tabler:affiliate',
      //   },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Fitur Unggulan Kami"
    subtitle="Jelajahi bagaimana Chauffeur POS dapat mentransformasi operasional bisnismu di berbagai industri dan skenario penggunaan."
    isReversed
    items={[
      {
        title: 'Kenapa On-Premise?',
        description: `Kelola dan pantau infrastruktur data langsung di lokasi, memungkinkan kustomisasi, keamanan yang lebih tinggi, dan penanganan masalah yang lebih cepat tanpa tergantung layanan eksternal.`,
      },
      {
        title: 'Kenapa Ini Penting?',
        description: `Data bisnismu bersifat pribadi dan hanya bisa diakses olehmu. Tanpa campur tangan pihak luar, kamu bisa memastikan kepatuhan terhadap standar perlindungan data dan menjaga integritas operasional.`,
      },
    ]}
    image={{
      src: Feature1,
      alt: 'On Premise Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Instalasi On-Premise: <br /><span class="text-2xl">Kendalikan Sepenuhnya Data Bisnismu</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Kenapa berlangganan fleksibel?',
        description: `Karena setiap bisnis punya ritmenya sendiri. Mau kamu baru mulai atau sedang berkembang pesat, harga kami menyesuaikan kebutuhanmu—tanpa kontrak jangka panjang, tanpa tekanan.`,
      },
      {
        title: 'Kenapa Ini Penting?',
        description: `Bayar hanya saat dibutuhkan, jeda kapan saja. Kebebasan yang mengikuti alur kerja kamu, bukan sebaliknya.`,
      },
    ]}
    image={{
      src: Feature2,
      alt: 'Flexible Subscription Fee',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Biaya Berlangganan Fleksibel: <br /><span class="text-2xl">Bisa dibatalkan kapan saja. Tanpa komitmen.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Kenapa Fitur HRIS?',
        description: `Kurangi beban administratif agar manajer bisa fokus ke strategi dan pengembangan tim.`,
      },
      {
        title: 'Kenapa Ini Penting?',
        description: `Pastikan kepuasan karyawan dengan penggajian yang akurat dan tepat waktu, sekaligus tetap patuh pada regulasi ketenagakerjaan.`,
      },
    ]}
    image={{
      src: Feature3,
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Fitur HRIS (Human Resource Information System): <br /><span class="text-2xl"
          >Manajemen Karyawan Jadi Lebih Sederhana</span
        >
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Kenapa Multi-Perangkat?',
        description: `Baik di kantor maupun di lapangan, akses sistem POS dari perangkat mana pun untuk menjaga kelancaran operasional.`,
      },
      {
        title: 'Kenapa Ini Penting?',
        description: `Berikan timmu keleluasaan untuk bekerja dari mana saja, tanpa mengganggu jalannya bisnis.`,
      },
    ]}
    image={{
      src: Feature4,
      alt: 'Multiple Device',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Instalasi Multi-Perangkat: <br /><span class="text-2xl">Fleksibel di Berbagai Perangkat</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Langganan bulanan, batalkan kapan saja"
    prices={[
      {
        title: 'gratis',
        subtitle: 'Fitur POS Dasar',
        price: '0',
        period: '/ bulan',
        callToAction: {
          target: '_blank',
          text: 'Unduh sekarang',
          href: '#',
        },
      },
      {
        title: 'premium',
        subtitle: 'Fitur POS Lanjutan',
        price: 350000,
        period: '/ bulan',
        callToAction: {
          target: '_blank',
          text: 'Coba Premium gratis selama 30 hari',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'populer',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pertanyaan yang Sering Diajukan"
    items={[
      {
        title: 'Bagaimana sistem pembayarannya?',
        description:
          'Anda dapat berlangganan secara bulanan. Jika masa aktif langganan berakhir, sistem akan otomatis kembali ke paket dasar hingga pembayaran diperbarui. Anda juga bisa memperpanjang langganan sebelum masa berakhir agar akses ke semua fitur tetap terjaga.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Bagaimana cara membatalkan langganan?',
        description: `Jika Anda tidak memperbarui langganan, layanan akan berhenti secara otomatis tanpa biaya tambahan.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Apakah saya bisa mencoba produk sebelum membayar?',
        description:
          'Ya, kami menyediakan Paket Gratis dengan fitur dasar yang bisa Anda gunakan untuk eksplorasi awal. Selain itu, pengguna baru akan mendapatkan uji coba Premium gratis selama 30 hari setelah mengunduh aplikasi untuk merasakan semua fiturnya.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Berapa banyak perangkat yang bisa digunakan dengan satu lisensi?',
        description: `Satu lisensi dapat digunakan di beberapa perangkat sekaligus, cocok untuk mendukung operasional bisnis yang terus berkembang.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Hubungi Kami"
    subtitle="Punya pertanyaan? Jangan ragu untuk menghubungi kami melalui formulir di bawah ini. Kami siap membantu!"
    callToAction={{
      text: 'Kontak Kami',
      href: 'mailto://hello@chauffeurpos.app',
    }}
    items={[
      {
        title: 'Email us',
        description: 'hello@chauffeurpos.app',
        icon: 'tabler:mail',
      },
      {
        title: 'Hubungi kami (Whatsapp)',
        description: '+62 896-1108-1675',
        icon: 'tabler:headset',
      },
      {
        title: 'Ikuti Kami',
        description: '@chauffeurposapp',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Selalu Update dengan Blog Chauffeur"
    information={`Tips & trik, pembaruan fitur, dan info menarik lainnya seputar dunia POS.`}
    linkText="Lihat semua artikel "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Babyhappy.id',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `This POS system transformed the way we operate. The multi-shop management and E-shop features are game changers!`,
        name: 'Josh Wilkinson',
        job: 'Hanna&Co.',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'The multi-device installation is a lifesaver. Our team can seamlessly work across web, desktop, and mobile platforms.',
        name: 'Sidney Hansen',
        job: 'Butiquest.co',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  /> -->
  <Fragment slot="footer">
    <Footer {...footerDataId} />
  </Fragment>
</Layout>
